body { background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Ffr.freepik.com%2Fvecteurs-libre%2F404-modele-web-erreur-chat-ennuye_2234126.htm&psig=AOvVaw1RuGdgqBIC2NQOq3_Kainf&ust=1608825283465000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCODhjrG75O0CFQAAAAAdAAAAABAO');}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }