<h3>Mes reservations</h3>
<hr>
<div class="row">
    <div class="col-8">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Bien</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mark</td>
                <td>Otto</td>
                <td>
                    <a [routerLink]="['/reservation/reservation', 1]" class="btn btn-sm btn-outline-info mr-2">Details</a>
                    <a [routerLink]="['/reservation/reservation', 1, 'edit']" class="btn btn-sm btn-outline-warning">Edit</a>
                </td>
              </tr>
              <tr>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>
                    <a [routerLink]="['/reservation/reservation', 1]" class="btn btn-sm btn-outline-info mr-2">Details</a>
                    <a [routerLink]="['/reservation/reservation', 1, 'edit']" class="btn btn-sm btn-outline-warning">Edit</a>
                </td>
              </tr>
              <tr>
                <td>Larry</td>
                <td>the Bird</td>
                <td>
                    <a [routerLink]="['/reservation/reservation', 1]" class="btn btn-sm btn-outline-info mr-2">Details</a>
                    <a [routerLink]="['/reservation/reservation', 1, 'edit']" class="btn btn-sm btn-outline-warning">Edit</a>
                </td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-4">
        <router-outlet></router-outlet>
    </div>
</div>


